<div class="mainContainer">
  <div class="whoIam">
    <h1>Adrien Mervelay</h1>
    <a href="#popup" class="popUpLink">🔍</a>
    <div id="popup" class="overlay">
      <div class="popup">
        <h2>Quelques infos</h2>
        <a href="#" class="cross">&times;</a>
        <p>
          💞En concubinage<br />
          👫Sans enfants<br />
          🚗 Titulaire du permis B et véhiculé <br />
          🐵L'animal que je préfere est le singe<br />
          🍽️J'aime goûter à tout style de cuisine<br />
          ⚽J'aime paticulièrement le Foot et le basket<br />
          🎮Je suis passionné par les jeux vidéos<br />
          🎵Hip-Hop, Chill, Jazz, House<br />
          🎬films & séries: SF, Action, Thriler, Comédie <br>
          💻 Ce portfolio à été réaliser avec Angular sans l'utilisation  de bootstrap <br>
        </p>
      </div>
    </div>
  </div>
</div>
