<div class="main">
  <div class="know">
    <h1>Mes compétences</h1>
    <div class="competences">
      <h2>Langages</h2>
      <p>
        Html 5 <br />
        CSS 3<br />
        TypeScript <br />
        JavaScript <br />
        Java <br />
        Spring <br>
        MySQL

      </p>
    </div>
    <div class="frameWork">
      <h2>FrameWork</h2>
      <p>
        Angular <br />
        bootstrap <br />
      </p>
    </div>
    <div class="past">
      <h2>Expériences passées</h2>
      <p>
        Employé polyvalent de la restauration (+10ans)<br />
        (Service et Cuisine)
      </p>
    </div>
    <br>
   <button id="curriculum"><a href="assets/images/MervelayAdrien.pdf" rel="noreferrer" download>Télécharger le CV</a></button> <br>
    <p>*N'hésitez pas à cliquer sur la loupe en haut de l'ecran pour en savoir plus. </p>
  </div>
  <div class="project">
    <h1>Projets</h1>
    <div class="rockQuest">
      <h2>Rock'Quest</h2>
      <p>
        HTML/CSS/JAVASCRIPT sans FrameWork <br />
        Jeu de rythme sous forme de site web. Réalisé dans le cadre de ma
        formation de Dévelopeur web Full Stack à la Wild Code School de Lyon(69).
        <br />
        <a href="https://rockquest.netlify.app/" rel="noreferrer" target="_blank"
          >Découvrir le projet</a
        >
      </p>
    </div>
    <div class="spaceWilder">
      <h2>Space Wilder</h2>
      <p>
        Angular(TypeScript)/HTML/CSS <br />
        Application web ayant pour but de regrouper les passager d'un vol vers
        la planète Mars. Réalisé dans le cadre de ma formation de Dévelopeur web
        Full Stack à la Wild Code School de Lyon(69). <br />
        <a
          href="https://mars-2939.anthony-charretier.fr/"
          rel="noreferrer" 
          target="_blank"
          >Découvrir le projet</a
        >
      </p>
    </div>
    <div class="pizzeria">
      <h2>La casa de Pizz</h2>
      <p>
      Angular (TypeScript)/HTML/CSS <br />
      Application web en construction pour un kiosque à Pizza avec ambition
      d'expansion. Réalisé autodidactement en parallèle de la formation de
      Dévelopeur web Full Stack à la Wild Code School de Lyon(69) <br />
      Non déployé.
      <a href="https://github.com/AdN-WeB/laCazaDePizz.git" rel="noreferrer" target="_blank">Découvrir le projet (sur GitHub)</a>
    </p>
    </div>
  </div>
  <div class="ambition">
    <h1>Recherche</h1>
    <div class="stage">
      <h2>Stage (2mois minimum)</h2>
      <p>
        Dévelopeur web full stack ou Dévelopeur Front-end <br />
        Secteur de Vienne (38) à Lyon (69) <br />
        Afin de terminer et valider ma formation à la Wild Code School de Lyon
        (69). <br />
        (Télé-Travail accepté)
      </p>
    </div>
    <div class="emplois">
      <h2>Embauche</h2>
      <p>
        Dévelopeur web full stack ou Dévelopeur Front-end <br />
        Secteur de Vienne(38) à Lyon (69) dans un rayon de 15/20km maximum. <br />
        (Télé-Travail accepté)
      </p>
    </div>
  </div>
</div>
