.main {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  width: 98vw;
  border: 1px white solid;
}
.main a {
    color : red
}
.know {
  border: 3px solid rgb(255, 255, 255);
  padding: 5px;
  width: 32%;
  color: white;
  background-color: black;
}
.project {
  border: 3px solid rgb(0, 0, 0);
  padding: 5px;
  width: 32%;
}
.ambition {
  border: 3px solid rgb(255, 255, 255);
  padding: 5px;
  width: 32%;
  color: white;
  background-color: black;
}
#curriculum {
  margin-left: 3rem;
  width: 10rem;
  height: 3rem;
  background: linear-gradient(0.25turn, #000000, #ffffff);
  border: 2px white solid;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
 #curriculum:hover {
  background: linear-gradient(0.25turn, #ffffff, #000000);
}
.know a{
  text-decoration:underline;
}